.title {
  width: 100%;
  text-align: center;
  font-size: 8rem;
  /* text-decoration: underline; */
  font-family: 'Ultra', serif;
  color: white;
  margin-bottom: 50px;
  /* font-family: Arial, Helvetica, sans-serif; */
  background-image: url("./background.jpg");
}
